<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Blog</title>
    <link rel="stylesheet" href="/newstyle.css">
</head>
<body>
    <h1>New Blog</h1>
    <div class="container">
        <div class="form">
            <form method="post" action="/blogs">
                <input type="text" placeholder="Enter Username" name="username" style="text-align: center;">
                <br><br><br><br>
               <textarea rows="18" cols="60" name="content" placeholder=" enter your blog here"></textarea>
               <br><br>
               <button id="btn">Post</button>
            </form>

        </div>
        
    </div>
</body>
</html>